.form-container
 {
   border: 3px solid  #f1f1f1;
   width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
   
  }
  .bottom-line{
    text-align: center;
    margin-top: 1%;
  }
h2{
  text-align: center;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.sb{
  margin-left: 2%;
  padding:5px 10px ;
}
.btn{
  
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  
}
.container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .error{
    color: #f44336;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 720px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .form-container
 {
   border: 3px solid #f1f1f1;
   width: 100%;
  
  margin-top: 5%;
   
  }
}
