<app-navbar></app-navbar>
<div class="main-container">
  <div class="form-container">
    <h2>Reset Password</h2>

    <form [formGroup]="resetpasswordForm" (ngSubmit)="resetpassword()">
      <div class="form-group" class="container">
        <label for="Email">Email</label>
        <div>
          <input type="email" class="form-control" id="Email" placeholder="pat@example.com" formControlName="Email"
            autocomplete="off" required>
          <div class="error" *ngIf="resetpasswordForm.controls['Email'].hasError('required')
          && resetpasswordForm.controls['Email'].touched">* Please enter email</div>
        </div>
      </div>


      <div class="form-group" class="container">
        <label for="Password">Reset Password</label>
        <div>
          <input [type]="hide ? 'password' : 'text'" class="form-control" id="Password" formControlName="Password"
            autocomplete="off" required>

          <div class="error" *ngIf="resetpasswordForm.controls['Password'].hasError('required')
          && resetpasswordForm.controls['Password'].touched">* Please enter new password</div>
        </div>
      </div>

      <div class="form-group" class="container">
        <label for="ConfirmPassword">Confirm Password</label>
        <div>
          <input [type]="hide ? 'password' : 'text'" class="form-control" id="ConfirmPassword"
            formControlName="ConfirmPassword">

          <div class="error" *ngIf="resetpasswordForm.controls['ConfirmPassword'].hasError('required')
            && resetpasswordForm.controls['ConfirmPassword'].touched">* Please enter new password </div>
        </div>
      </div>

      <button type="submit" [disabled]="!resetpasswordForm.valid" class="btn">Submit</button>
      <div class="bottom-line">
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </div>
    </form>
    <br>
  </div>
</div>