
<!--message of registration sucessful and link to login page-->
<div style="text-align: center;">
    <h1>Registration Completed Successfully</h1>
</div>
<div class="bottom-line">
    <a [routerLink]="['/login']" routerLinkActive="active">it's time to login in... please click me</a>
  </div>

<!-- <legend class="col-form-label col-sm-6 pt-0">Enter OTP:</legend>
<form [formGroup]="otpForm">
<input type="number" class="form-control" id="otp" formControlName="otp" required>
<button class="btn btn-primary" (click)="validateOTP()">Validate OTP</button>
</form> -->