<app-navbar></app-navbar>
<div class="main-container">
  <div class="form-container">
    <h2>Forgot Password</h2>

    <form [formGroup]="forgotpasswordForm">
      <div class="container">
        <div class="form-group">
          <label for="CompanyName">Company name: </label>
          <input type="text" class="form-control" id="CompanyName" formControlName="CompanyName" autocomplete="off"
            required>
          <div class="error" *ngIf="forgotpasswordForm.controls['CompanyName'].hasError('required')
            && forgotpasswordForm.controls['CompanyName'].touched">* Please enter company name</div>

        </div>

        <div class="form-group">
          <label for="Email">Email: </label>
          <input type="email" class="form-control" id="Email" placeholder="pat@example.com" formControlName="Email"
            autocomplete="off" required>
          <div class="error" *ngIf="forgotpasswordForm.controls['Email'].hasError('required')
            && forgotpasswordForm.controls['Email'].touched">* Please enter email</div>

        </div>

        <button class="btn btn-primary" (click)="changePassword()" type="submit" class="btn btn-primary"
          [disabled]="forgotpasswordForm.invalid">Submit</button>
        <div *ngIf="invalidForgot" class="error">
          <div>Invalid Company name or email. please try again</div>
        </div>
        <div class="bottom-line">
          <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </div>
      </div>
    </form>
    <br>

  </div>
</div>